@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('public/Bliss.webp');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80%;
    background-repeat: no-repeat;
}