@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Windows XP Tahoma";
    src: url(/src/assets/windows-xp-tahoma.ttf);
}

body {
    font-family: "Windows XP Tahoma", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-image: url('/src/assets/Bliss.webp');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80%;
    background-repeat: no-repeat;
}
